@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------- VARIABLES ------------- */
:root {
    --header-height: 2.5rem;
    /* colors */
    --header-color-light: rgb(201, 212, 220);
    --header-color-dark: rgb(15, 15, 15);
    --color-white: rgb(250, 250, 250);
    --color-gray: rgb(136, 137, 143);
    --color-black: rgb(36, 37, 43);
    --color-light: rgb(223, 230, 235);
    --color-blue: rgb(69, 196, 235);
    --color-blue-in-dark: rgb(208, 238, 248);
    --color-blue-shadow-in-light: rgba(69, 196, 235, 0);
    --color-blue-shadow-in-dark: rgba(69, 196, 235, 0.7);
    --color-primary: rgb(30, 97, 90);
    --color-dark: rgb(22, 23, 27);
    /* color section */
    --section-color-light-primary: rgb(238, 242, 245);
    --section-color-dark-primary: rgb(36, 37, 43);

    /* font */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 2.4rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* font weight */
    --font-medium: 400;
    --font-semi-bold: 600;

    /* Marges */
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;

    /* Border radius */
    --border-radius: 0.3rem;

    /* Box shadow */
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

/* ======================= BASE ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

body,
button,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.7;
    font-weight: var(--font-medium);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--color-primary);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

/* ========================= LAYOUT ========================= */
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* background-color: red; */
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

/* ========================== BUTTON ======================= */
.btn {
    padding: 0.6rem 1.6rem;
    margin: 0.7rem 0.7rem;
    line-height: 1;
}

.btn:focus {
    outline: 0;
}

.btn-default {
    color: #fff;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    transform: perspective(1px) translateZ(0);
}

.btn-default:hover {
    animation-name: button-click;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes button-click {
    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/* ========================== HEADER =========================== */
.header {
    width: 100%;
    background-color: var(--header-color-light);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.scrolled {
    opacity: 0.7;
    /* Opacité lorsque la page est défilée */
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    margin: var(--m-0-75);
}

.nav-logo {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: 0.125rem;
    position: relative;
}

.nav-logo .header-title {
    color: var(--color-primary);
}

.nav-menu {
    margin-left: auto;
}

.nav-list {
    display: flex;
    column-gap: 3rem;
}

.nav-link {
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: .3s;
}

.nav-link:hover {
    color: var(--color-primary);
}

/* separateur */
.nav-separator {
    border: 1px solid var(--color-dark);
}

/* conteneur des btns */
.nav-btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme {
    font-size: 1.25rem;
    cursor: pointer;
}

/* btn show menu */
.nav-toggle {
    display: none;
    margin-top: 0.4rem;
    /* c parce que les deux icones ne sont pas la même taille*/
    font-size: 1.65rem;
    cursor: pointer;
}

/* ================== FOOTER ================ */
.footer {
    width: 100%;
    background-color: var(--header-color-light);
    display: grid;
    place-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    color: var(--color-gray);
    font-size: 12px;
}

/* =========================== SECTION =============================== */
.section {
    padding-top: var(--m-2);
    padding-bottom: var(--m-2);
}

/* ================== SECTION TITLE ================= */
/* section title */
.section-title-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: var(--m-2); */
    padding-bottom: var(--m-2);
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.left-title,
.right-title {
    width: 35px;
    height: 4px;
    background-color: var(--color-blue);
    box-shadow: 0 0 12px 2px var(--color-blue-shadow-in-light);
}

/* =========================== SECTION HOME ========================== */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.home .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--m-1);
    margin-right: var(--m-1);
}

/* ANDY IMAGE */
.home .home-img {
    max-width: 450px;
    position: relative;
    z-index: 50;
    overflow: hidden;
}

.home .home-img::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 38.5%;
    transform: rotate(45deg);
    top: 17%;
    left: 18%;
    border: calc(1vw + 15px) solid var(--color-blue);
    box-shadow: 0 0 28px 4px var(--color-blue-shadow-in-light);
    z-index: -10;
}

.home .home-img::before {
    content: "";
    position: absolute;
    width: 53%;
    height: 46%;
    transform: rotate(45deg);
    top: 54%;
    left: 15%;
    border: calc(1vw + 15px) solid var(--header-color-dark);
    z-index: -20;
}

/* INTRO */
.home .intro {
    max-width: 540px;
    text-align: center;
    padding-right: var(--m-0-5);
    padding-left: var(--m-0-5);
}

.intro .myname {
    display: block;
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--color-primary);
}

.intro-text {
    padding-top: var(--m-0-5);
    padding-bottom: var(--m-0-5);
}

/* les reseaux sociaux */
.social-icons {
    display: inline-flex;
    column-gap: 0.5rem;
    margin-top: var(--m-1-5);
}

.social-icons li {
    width: 3.5vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons li::before {
    position: absolute;
    content: "";
    width: 3.5vw;
    height: 4vw;
    background-color: var(--color-blue);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 50% 95%, 5% 72%, 5% 28%, 50% 5%, 95% 28%, 95% 72%, 50% 95%, 50% 100%, 100% 75%, 100% 25%);
}

.social-icons li a {
    font-size: var(--h3-font-size);
}

/* ======================== SECTION ABOUT (A PROPOS) ========================== */
.about {
    background-color: var(--section-color-light-primary);
}

.about .container .row {
    display: flex;
    justify-content: space-evenly;
}

.about .row .about-content {
    max-width: 620px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}

.list-formation .formation-item {
    display: grid;
    grid-template-columns: 1fr 10fr; /* Deux colonnes 1fr et 10fr */
    grid-template-rows: auto auto; /* Deux lignes de hauteur automatique */
}

.formation-item i {
    grid-column: 1; /* La première colonne */
    grid-row: 1/3; /* S'étend de la première à la deuxième ligne */
    font-size: 2.5rem;
    color: var(--color-blue);
}

.formation-item p {
    grid-column: 2; /* La deuxième colonne */
    grid-row: 1; /* S'étend de la première à la deuxième ligne */
    text-align: left;
}

.formation-item span {
    grid-column: 2; /* La deuxième colonne */
    grid-row: 2;
    text-align: left;
    font-size: 0.7rem;
    color: var(--color-gray);
}

.about .row .sphere-content {
    min-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.sphere-content .info {
    color: var(--color-gray);
}

/* ======================== SECTION SERVICES ========================== */
.services .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services .row .service-item {
    width: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0px 18px 0px 18px;
}

.service-item .item-icon {
    padding-top: 40px;
    font-size: 65px;
    color: var(--color-primary);
}

.service-item .item-title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.service-item .item-text {
    text-align: justify;
    color: var(--color-gray);
    font-size: var(--small-font-size);
}

.services .row .service-item::before {
    content: "";
    width: 280px;
    height: 380px;
    position: absolute;
    background-color: var(--color-blue);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 50% 98%, 3% 74%, 3% 26%, 50% 2.5%, 97% 26%, 97% 74%, 50% 98%, 50% 100%, 100% 75%, 100% 25%);
    z-index: -1;
    transform: 0.5s;
}

.services .row .service-item:hover::before {
    background-color: var(--color-blue-shadow-in-dark);
}

/* ========================== SECTION PORTFOLIO ======================== */
.grid {
    display: grid;
}

.portfolio .row {
    display: flex;
    justify-content: space;
    align-items: center;
    flex-direction: column;
}

.work_filters {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.75rem;
    margin-bottom: 2rem;
    padding: 1rem 4rem 0 4rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
}

.work_item {
    cursor: pointer;
    color: var(--title-color);
    font-weight: var(--font-medium);
    padding-bottom: 0.75rem;
}

.work_conteneur {
    width: 100%;
    grid-template-columns: repeat(3, calc(2vw + 300px));
    row-gap: 2.8rem;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.work_card {
    background-color: var(--section-color-light-primary);
    padding: 1.25rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 0.5rem;
}

.work_card .img_content {
    position: relative;
}

.work_card .img_content span {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    opacity: 0.15;
}

.work_img {
    max-height: 165px;
    min-height: 140px;
    width: 100%;
    border-radius: var(--border-radius);
}

.work_title {
    text-align: center;
    font-size: 2rem;
    font-weight: var(--font-semi-bold);
    color: var(--color-dark);
    border-top: 4px solid var(--color-dark);
    border-bottom: 4px solid var(--color-dark);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.work_subtitle {
    color: var(--color-gray);
    text-align: center;
    font-size: .8rem;
}

.work_text {
    margin-top: 10px;
}

.work_techno {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.work_techno .techno_item {
    background-color: var(--color-light);
    padding: 2px 10px;
    font-size: 0.7rem;
    border-radius: var(--border-radius);
}

.work_button {
    color: var(--color-primary);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work_button-icon {
    font-size: 1rem;
    transition: .3s;
}

.active-work {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-primary);
}

/* ------ Portfolio Popup ------ */
.portfolio_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio_popup .open {
    opacity: 1;
    visibility: visible;
}

.portfolio_popup-inner {
    background-color: var(--color-primary);
    width: 900px;
    border-radius: var(--border-radius);
    padding: 2.5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio_popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio_popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-blue);
    cursor: pointer;
}

.portfolio_popup-img {
    border-radius: .5rem;
}

.portfolio_popup-subtitle {
    font-size: var(--small-font-size);
    margin-bottom: var(--m-0-5);
}

.details_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--m-1);
}

.details_description {
    font-size: var(--small-font-size);
    margin-bottom: var(--m-2);
}

.details_info li {
    margin-bottom: var(--m-0-75);
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.details_info li:last-child {
    margin-bottom: 0;
}

.details_info li span {
    font-weight: normal;
}

.details_info li a {
    text-transform: lowercase;
    color: var(--color-primary);
}

/* ========================== CONTACT =========================== */
.contact {
    background-color: var(--color-white);
}

.contact .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-text {
    text-align: center;
    width: 75%;
}

.contact-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-content a {
    background-color: var(--color-light);
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--color-primary);
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.other-contact {
    text-align: center;
}

.other-contact h2 {
    margin-bottom: 0.5rem;
}

.other-contact-content {
    display: inline-flex;
    gap: 0.5rem;
}

.other-contact-content a {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    border: 0.1rem solid var(--color-dark);
    border-radius: 50%;
}
/* ========================== SCENE 3D =========================== */
.element {
    width: 320px;
    height: 180px;
    box-shadow: 0px 0px 12px rgba(88, 200, 252, 0.5);
    border: 1px solid rgba(45, 145, 233, 0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
    border: 1px solid rgba(127, 255, 255, 0.75);
}

.element .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127, 255, 255, 0.75);
}

.element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(7, 7, 7, 0.75);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127, 255, 255, 0.75);
}

/* =========== CAROUSEL SwiperSlide ======== */
/* .swiper-carousel .swiper-button-next, .swiper-carousel .swiper-button-prev {
    color: var(--color-blue);
} */
.carousel-content {
    height: calc(5vw + 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.swiper-carousel img {
    width: calc(25% + 25px);
}

.swiper-carousel .swiper-pagination-bullet {
    background-color: var(--color-gray);
    opacity: 0.5;
}

.swiper-carousel .swiper-pagination-bullet-active {
    background-color: var(--color-blue);
    opacity: 1;
}



/* ========== THEME CUSTOMISE (MODAL)========= */
.customize-theme {
    position: fixed;
    z-index: 100;
    font-size: var(--small-font-size);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.customize-theme .card {
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--border-radius);
    width: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    position: relative;
}

.btn-hide-card {
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    font-size: 1.5rem;
    color: var(--color-dark);
    cursor: pointer;
}

.customize-list {
    display: flex;
    flex-direction: column;
    margin-top: var(--m-0-75);
    gap: 12px;
}

.customize-list li {
    padding-bottom: var(--m-0-75);
    /* border-bottom: 1px solid var(--color-dark); */
}

.customize-list .theme,
.customize-list .color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* toggle btn */
.theme .toggle-btn {
    position: relative;
    width: 46px;
    height: 24px;
    border-radius: 24px;
    cursor: pointer;
    background: var(--color-black);
    border: 1px solid var(--color-dark);
    transition: 0.5s;
}

.theme .toggle-btn::before {
    content: "";
    position: absolute;
    top: 0.4px;
    left: 1px;
    width: 50%;
    height: 96%;
    background: var(--color-light);
    border-radius: 25px;
    transition: 0.5s;
}

input:checked+.toggle-btn {
    background-color: var(--color-blue);
}

input:checked+.toggle-btn::before {
    transform: translateX(20px);
}

.color .color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.2rem;
}

.color .color-list .color-item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.color-item:nth-child(1) {
    background-color: rgb(30, 97, 90);
}

.color-item:nth-child(2) {
    background-color: rgb(151, 77, 143);
}

.color-item:nth-child(3) {
    background-color: rgb(66, 151, 28);
}

.color-item:nth-child(4) {
    background-color: rgb(230, 77, 97);
}

/* ============================ LOADER ============================ */
.loader-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: var(--color-light);
    display: grid;
    place-content: center;
}

/* ====================================== MEDIA QUERIES ================================*/
/*  */
/* ===================================== max-width: 1200px ================================= */
@media (max-width: 1200px) {
    html {
        font-size: 95%;
    }

    /* services */
    .services .row .service-item {
        width: 250px;
        height: 350px;
        margin-bottom: 8px;
    }

    .service-item .item-icon {
        font-size: 50px;
    }

    .services .row .service-item::before {
        width: 250px;
        height: 350px;
    }

}


@media (max-width: 1120px) {

    /* conteneur card container */
    .work_conteneur {
        grid-template-columns: repeat(2, calc(40vw + 10px));
        gap: 2.8rem;
        justify-content: center;
    }
    .work_img {
        max-height: 190px;
    }
}

/*  */
/* ===================================== max-width: 991px ================================= */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }

    .nav-list {
        column-gap: 2.5rem;
    }
}

/*  */
/* ===================================== max-width: 825px ================================= */
@media (max-width: 825px) {
    .nav-list {
        column-gap: 2rem;
    }

    /* =================== ABOUT ================= */
    .sphere-content {
        height: 540px;
    }
}

/*  */
/* ===================================== max-width:768px ================================= */
@media (max-width:768px) {
    html {
        font-size: 85%;
    }

    /* =============== HEADER =============*/
    .nav {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        row-gap: 0.5rem;
    }

    .nav-menu {
        margin-left: 0;
        display: none;
        /* cacher menu */
    }

    /* afficher menu */
    .nav .active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        row-gap: .5rem;
    }

    .nav-separator {
        display: none;
    }

    /* btn container */
    .nav-btns {
        position: absolute;
        left: calc(100% - 75px);
        top: 4%;
        display: flex;
    }

    .nav-toggle {
        display: block;
        font-size: 1.65rem;
        cursor: pointer;
    }

    /* ============= HOME =========== */

    .home .container .row {
        flex-direction: column;
    }

    /* ANDY IMAGE */
    .home .home-img {
        max-width: 300px;
        margin-top: var(--m-2-5);
        margin-bottom: var(--m-1);
    }

    .customize-theme .card {
        padding: 3rem;
        width: 400px;
        row-gap: 0.4rem;
    }

    /* les reseaux sociaux */
    .social-icons {
        column-gap: 1.5rem;
        margin-bottom: var(--m-1);
    }

    .social-icons li::before {
        width: 6.5vw;
        height: 7vw;
    }

    /* =================== ABOUT (PROPOS) ================= */
    .about .container .row {
        flex-direction: column;
        align-items: center;
    }

    .about .intro-text {
        margin-bottom: 10px;
    }

    .about .list-formation {
        margin-bottom: 10px;
    }

    .sphere-content {
        margin-top: 30px;
        height: 500px;
    }

    /* ========= SERVICES =========*/
    .services .row .service-item {
        width: 228px;
        height: 328px;
    }

    .service-item .item-icon {
        font-size: 45px;
    }

    .services .row .service-item::before {
        width: 228px;
        height: 328px;
    }

    /* =========== PORTFOLIO ========== */
    .work_conteneur {
        grid-template-columns: repeat(1, 330px);
        /* gap: 1.8rem; */
    }

    .work_card {
        /* padding: 1.25rem; */
        /* display: flex;
        flex-direction: column;
        text-align: justify;
        gap: 0.5rem; */
    }
/* 
    .work_card .img_content {
        position: relative;
    }

    .work_card .img_content span {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
        opacity: 0.15;
    }

    .work_img {
        height: 165px;
        width: 100%;
        border-radius: var(--border-radius);
    }

    .work_title {
        text-align: center;
        font-size: 2rem;
        font-weight: var(--font-semi-bold);
        color: var(--color-dark);
        border-top: 4px solid var(--color-dark);
        border-bottom: 4px solid var(--color-dark);
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .work_subtitle {
        color: var(--color-gray);
        text-align: center;
        font-size: .8rem;
    }

    .work_text {
        margin-top: 10px;
    }

    .work_techno {
        display: inline-flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .work_techno .techno_item {
        background-color: var(--color-light);
        padding: 2px 10px;
        font-size: 0.7rem;
        border-radius: var(--border-radius);
    }

    .work_button {
        color: var(--color-primary);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
    }

    .work_button-icon {
        font-size: 1rem;
        transition: .3s;
    } */

}